body{
    background-color: #E5E5E5;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;
}
.st_p_content{
    margin-top: 75px;
}
.top{
    background-color: #B3A258;
    height: 15vh;
}
.profile_selectrow{
    padding-top: 50px;
}
.p_fbsumbit{
    background-color: #B3A258;
    color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
.fbform{
    background-color: white;
    border-radius: 20px;
    padding: 20px;
}
.fbform h4{
    text-align: center;
}
.fbrow{
    padding-top: 100px;
}
*{
    margin: 0;
    padding: 0;
}
.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float: right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}
.tbrow{
    margin-top: 50px;
    
}

.tbrow h3{
    text-align: center;
}